*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.sass-cache
.idea
.project
.strong-pm
coverage
node_modules
bower_components
npm-debug.log

list.docx
docs
logs
